@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: black;
    color: whitesmoke;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    /* flex: 1; */
    padding: 0px 10px;
    font-family: 'Oswald', sans-serif;
    border: 1px solid navajowhite;
    display: flex;
    justify-content: center;
    border-radius: 32%;
    background: linear-gradient(47deg, black, #c65151);
    font-family: 'Alkatra', cursive;
    align-content: center;
    flex-wrap: wrap;
}

.menus {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid; */
    /* padding-right: 2rem; */
    /* flex: 1; */

}

.nav_menu {

    padding: 0 3px;
    margin: 0px 60px;
    font-size: 30px;
    border-bottom: 3px solid whitesmoke;
    list-style: none;
    cursor: pointer;
    border-radius: 2pc;
    font-family: 'Rajdhani', sans-serif;
}

.nav_menu:hover {
    color: rgb(131, 126, 126);
}
.hamburger
{
    display: none;
    cursor: pointer;
    padding: 1.05rem;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}
@media (max-width:760px) {
    .hamburger
    {
        display: block;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .menus
    {
        position: fixed;
        left: -100%;
        top: 59px;
        gap: 0;
        flex-direction: column;
        background-color: black;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
    .menus.active
    {
        left: 0;
    }
    .nav_menu
    {
        margin: 10px 60px;
    }
    
}
