@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: #1e1f23;
    color: whitesmoke;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    /* flex: 1; */
    padding: 0px 10px;
    font-family: 'Oswald', sans-serif;
    border: 1px solid navajowhite;
    display: flex;
    justify-content: center;
    border-radius: 32%;
    background: linear-gradient(47deg, black, #c65151);
    font-family: 'Alkatra', cursive;
    align-content: center;
    flex-wrap: wrap;
}

.menus {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid; */
    /* padding-right: 2rem; */
    /* flex: 1; */

}

.nav_menu {

    padding: 0 3px;
    margin: 0px 60px;
    font-size: 30px;
    border-bottom: 3px solid whitesmoke;
    list-style: none;
    cursor: pointer;
    border-radius: 2pc;
    font-family: 'Rajdhani', sans-serif;
}

.nav_menu:hover {
    color: rgb(131, 126, 126);
}

.hamburger {
    display: none;
    cursor: pointer;
    padding: 1.05rem;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}



.hero {
    /* border: 1px solid; */
    /* width: 100vw; */
    height: 70vh;
    background-image: url("hero.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    /* opacity: 0.9; */


}

.hero_content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    height: 70vh;
    /* justify-content: center; */

    /* justify-content: center; */
}

.hero_logo {
    border: 1px solid yellow;
    height: 275px;
    color: whitesmoke;
    width: 500px;
    /* z-index: 1; */
    font-size: 4rem;

    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
    border: 1px solid navajowhite;
    border-radius: 51%;
    background: linear-gradient(47deg, black, #c65151);

    font-family: 'Alkatra', cursive;
}


.hero_desc {

    position: relative;
    font-size: 50px;
    text-align: center;
    color: white;
    line-height: 94px;
    font-family: 'Rajdhani', sans-serif;
}

.create {
    display: flex;
    flex-direction: column;
    height: 40vh;
    color: floralwhite;
    background: #1d2221;
    padding: 0 10px;
}

.create_head {
    text-align: center;
}

.create_content {
    display: flex;
    align-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 5px;
}

.photo {
    /* border: 2px solid; */
    color: antiquewhite;
    /* border: 2px solid; */
    padding: 5px 18px;
    border-radius: 4px;
    /* cursor: pointer; */
    font-size: 35px;
    margin: 0 auto;
    background: #652929;
}

.name_rank {
    /* border: 2px solid; */
}

.image_input {
    /* background-color: aquamarine; */
    cursor: pointer;
}

.name_inputs {
    margin: 0 40px;
    background: none;
    outline: none;
    border: none;
    border-bottom: 3px solid aquamarine;
    font-size: 20px;
    color: azure;
    border-radius: 1pc;
    padding: 6px 13px;

}

.view {
    height: 100vh;
    /* border: 2px solid; */
    height: 100vh;
    background: #1d2222;
    /* border: 2px solid; */
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    border-style: dashed;
}

.view_head {
    color: whitesmoke;
    text-align: center;
    font-size: 30px;
}

.event_desc {
    height: 50vh;
    /* border: 2px solid yellow; */
    display: flex;
    padding: 0 10px;
}

.img {
    width: 50%;
    height: 100%;
    /* border: 1px solid rebeccapurple; */
}

.candidate {
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 50%;
}

.details {
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 0 45px;
}

.details_head {
    line-height: 82px;
    font-family: 'Alkatra', cursive;
    font-family: 'Rajdhani', sans-serif;
    font-size: 30px;
    border-radius: 2pc;
    color: aliceblue;
    border-bottom: 3px solid azure;
}

.candidate_desc {
    color: wheat;
}

.candidate_name {
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 5px;
    display: flex;
    flex-direction: column;
    font-size: 30px;
    margin-bottom: 4px;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.underline {
    border-bottom: 2px solid aquamarine;
    width: 70%;
    margin-bottom: 38px;
    border-radius: 2pc;
}

@media (max-width:760px) {
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .menus {
        position: fixed;
        left: -100%;
        top: 59px;
        gap: 0;
        flex-direction: column;
        background-color: black;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .menus.active {
        left: 0;
    }

    .nav_menu {
        margin: 10px 60px;
    }

    .name_inputs {
        margin: 5px 27px;
    }

    .name_rank {
        /* border: 2px solid; */
        display: flex;
        align-content: center;
        /* justify-content: space-between; */
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 9px;

    }
}